h1 {
  color: blue;
  font-size: 25px;
}

ul {
  list-style-type: none;
  text-align: left;
}
button {
  background-color: chartreuse;
}

.search-button {
  background-color: cyan;
}

.day-fc.1,
.day-fc.2,
.day-fc.3,
.day-fc.4,
.day-fc.5 {
  display: inline-block;
}
